* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 246, 255, 0.411);
}

#top {
    text-align: center;
    color: rgba(11, 45, 97, 0.719);
}

#main {
    color: rgba(27, 68, 129, 0.856);
}

li {
    margin: 5px;
}

button {
color: rgb(227, 232, 241);
border: none;
background-color: rgba(11, 45, 97, 0.938);
border-radius: 3px;
padding: 5px;
}

